<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Prop 1</th>
        <th>Prop 2</th>
        <th>Prop 3</th>
        <th>Prop 4</th>
        <th>Prop 5</th>
        <th>Prop 6</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contato of contatos">
          <td >{{contato.id}}</td>
          <td >{{contato.name}}</td>
          <td >{{contato.email}}</td>
          <td >{{contato.phone}}</td>
          <td >{{contato.company.name}}</td>
          <td >{{contato.id}}</td>
          <td >{{contato.name}}</td>
          <td >{{contato.email}}</td>
          <td >{{contato.phone}}</td>
        </tr>
      </tbody>
  </table>
</div>
